//* Utils
@import './utils/_reset.scss';
@import './utils/_fonts.scss';
@import './utils/_vars';
@import './utils/_base';

//* Blocks
@import './blocks/_header-main';
@import './blocks/_burger-menu';
@import './blocks/_mobile-menu';
@import './blocks/_section_hero';
@import './blocks/_section_features';
@import './blocks/_section_products';
@import './blocks/_section_clients';
@import './blocks/_section_scetchbook';
@import './blocks/_footer';
