.footer {
}
.footer-top {
    background-color: $color-footer-top-bg;
    padding-block: 29px;

    @media screen and (max-width: 509px) {
        padding-block: 20px;
    }
}

.footer__logo-wrapper {
    @media screen and (max-width: 509px) {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid $color-footer-border-color;
    }
}


.footer__logo {
    @media screen and (max-width: 509px) {
        padding-bottom: 20px;
    }
}

.footer-top__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 509px) {
        justify-content: center;
    }
}
.socials {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media screen and (max-width: 509px) {
        padding-top: 20px;
    }
}
.socials__link {
    position: relative;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-5px);
    }
}
.footer-bottom {
}
.footer-bottom__wrapper {
    text-align: center;
}
.footer-right {
    color: $color-footer-right-text;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.footer-right__span {
    color: $color-footer-right-span;
}