.mobile-menu {
    background-color: $color-bg-main;
    position: absolute;
    top: 0;
    height: 100dvh;
    width: 100dvw;
    z-index: 10;
    padding-block: 66px;
    transform: translateY(-100%);
    transition: all 0.2s ease;

    &--active {
        transform: translateY(0);
    }
}

.mobile-menu__nav {
}
.mobile-menu__nav-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.mobile-menu__nav-item {
}
.mobile-menu__nav-link {
    color: #4c5866;
    font-size: 18px;
    line-height: normal;
}
