.clients {
    padding: 90px 0;

    @media screen and (max-width: 1023px) {
        padding: 60px 0;
    }
}
.container {
}
.clients__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media screen and (max-width: 689px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 689px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    @media screen and (max-width: 509px) {
        display: flex;
        overflow-x: auto;
        gap: 30px;
        scroll-snap-type: x mandatory;
    }

    scrollbar-gutter: 40px;
}
.client-card {
    height: 135px;
    border: 1px solid #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;

    @media screen and (max-width: 1023px) {
        height: 80px;
        padding-inline: 12px;
    }

    @media screen and (max-width: 689px) {
        height: 127px;
        padding-inline: 20px;
    }

    @media screen and (max-width: 689px) {
        // min-width: 52%;
    }

    @media screen and (max-width: 509px) {
        min-width: 0;
        flex-basis: 54%;
        flex-shrink: 0;
        padding-inline: 20px;
        padding-block: 40px;
        scroll-padding: 20px;
        scroll-snap-align: center;
    }

    &:hover {
        transform: scale(105%);
        box-shadow: 0px 0px 24px #00000010;

        // @media screen and (max-width: 689px) {
        //     transform: scale(105%);
        //     box-shadow: 0px 0px 0px transparent;
        // }
    }
}
